{{#each this}}
<li class="img">
    <div class='photo-card'>
        <div class="photo-wrapper">
            <img src='{{webformatURL}}' alt='{{tags}}' />
        </div>
        <div class='stats'>
            <p class='stats-item'>{{likes}}
                <i class='material-icons md-light'>thumb_up</i>

            </p>
            <p class='stats-item'>{{views}}
                <i class='material-icons md-light'>visibility</i>
            </p>
            <p class='stats-item'>{{comments}}
                <i class='material-icons md-light'>comment</i>
            </p>
            <p class='stats-item'>{{downloads}}
                <i class='material-icons md-light'>cloud_download</i>
            </p>
        </div>
    </div>
</li>
{{/each}}